  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Arial', sans-serif;
      color: #333;
      background-color: #f8f8f8;
      line-height: 1.6;
  }

  /* Navbar */
  .navbar {
      background-color: #358665;
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .logo{
    font-size: 1.1rem;
    letter-spacing: 2px !important;
  }

  .navbar .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav-links {
      list-style: none;
      display: flex;
  }

  .nav-links li {
      margin: 0 1rem;
  }

  .nav-links a {
      color: white;
      text-decoration: none;
  }

  .wrap-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
      padding: 2rem !important;
      max-width: 1000px;
  }

  .cta-btn {
      background-color: #358665;
      color: white;
      padding: 0.5rem 1.5rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      max-width: fit-content !important;
      text-decoration: none !important;
  }

  .cta-btn:hover {
      background-color: #5fae8f;
  }

  /* Hero */


  .hero {
      height: 100vh;
      background: url('https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=1858&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .hero-content {
      background-color: rgba(255, 255, 255, 0.85);
      padding: 2rem;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5rem;
  }

  .hero .title {
      font-size: 2rem;
      color: #333;
  }

  .hero p {
      font-size: 1.2rem;
      color: #666;
  }

  /* marcas */
  .trusted-brands {
      padding: 3rem 0;
      text-align: center;
      overflow: hidden;
  }

  .trusted-brands h2 {
      font-size: 2rem;
      margin-bottom: 4rem;
  }

  .brands {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
  }

  .brands img {
      margin: 0 1rem;
      max-height: 20px;
      filter: grayscale(100%);
      opacity: .5;
  }

  /* beneficios */
  .benefits {
      padding: 3rem 0;
      /* background-color: #f1f1f1; */
      text-align: center;
  }

  .benefits-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 1rem !important;
  }

  .benefit-card {
      background-color: white;
      padding: 1rem;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }

  .benefit-card img {
      margin-bottom: 1rem;
  }

  .benefit-card h3 {
      /* margin-bottom: 1rem; */
      font-size: 1.2rem;
      color: #358665;
  }

  .benefit-card .fas {
      font-size: 1.5rem !important;
      color: #358665;
  }

  /* promesa */
  .our-promise {
      height: fit-content;

  }
  .our-promise .container {
      padding: 3rem 0;
      height: fit-content;
      padding: 0 !important;
     overflow: hidden;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
     border-radius: 16px;
  }

  .our-promise .text-column {
      display: flex;
      flex-direction: column;
      gap: 1rem !important;
      padding: 1rem;
  }
  .our-promise .image-column {
      display: flex;
  }

  .two-columns {
      display: grid;
      grid-template-columns: .6fr 1fr;
      gap: 1rem;
      align-items: center;
  }

  .two-columns img {
      width: 100%;
      /* border-radius: 8px; */
  }

  .two-columns .text-column {
      text-align: left;
  }

  /* seguro form */
  .quote-section {
      /* padding: 3rem 0; */
      background-color: #ffffff;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .quote-section .image-column {
      display: flex;
  }
  .quote-section .container .image-column{
        min-height: 100% !important;
  }
  .quote-section .container .image-column img{
        object-fit: cover;
  }
  .quote-section .form-column{
        padding: 1rem;
  }

  .form-group {
      margin-bottom: 1.5rem;
  }

  .form-group label {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.5rem;
  }

  .form-group input,
  .form-group select {
      width: 100%;
      padding: 0.8rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 1rem;
  }

  /* Footer */
  .footer {
      background-color: #358665;
      color: white;
      padding: 2rem;
  }

  .footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .footer .footer-links {
      list-style: none;
  }

  .footer .footer-links li {
      margin-bottom: 1rem;
  }

  .footer .footer-links a {
      color: white;
      text-decoration: none;
  }

  .footer p {
      text-align: center;
      margin-top: 2rem;
      font-size: 0.9rem;
  }

  #quote-details {
      display: none;
  }

  #quote-details.visible {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      background-color: #f9f9f9;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .quote-details {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      margin-top: 2rem;
  }

  .quote-result{
    border-right: 1px solid #ccc;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem;
    color: #358665;
  }

  .insurance-details ul {
    list-style: none;
}
  .insurance-details H3 {
    color: #358665;
}
  .insurance-details P {
    margin-bottom: 1rem;
}


.properties-section {
    padding: 50px 0;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.property-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    box-sizing: border-box !important;
    display: flex;
    flex-direction: column;
}

.property-card:hover {
    transform: translateY(-5px);
}

.property-image {
    position: relative !important;
    display: flex;
}
.property-image img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    z-index: 1;
}

.property-info {
    padding: .8rem !important;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-info h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.property-info span, p {
    margin-bottom: 8px;
    font-size: 1em;
    color: #555;
}
.property-tags {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    width: 100%;
}
.property-tags .tag {
    font-size: .7rem !important;
    margin-bottom: 1rem;
}

.property-info .cta-btn {
    max-width: 100% !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    bottom: 0 !important;
}

.property-location{
    font-size: .7rem !important; 
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
    /* color: #ffffff !important; */
    background-color: #ffffffc4;
    border-radius: 3px;
    padding: .2rem !important;
    font-weight: bold;
}
.property-type{
    position: absolute;
    bottom: 16px;
    right: 8px;
    z-index: 2;
    background-color: #ffffffc4;
    border-radius: 3px;
    padding: .2rem !important;
    font-size: .7rem !important;
    font-weight: bold;
}


/* Modal  */
.modal {
    z-index: 3 !important;
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.insurance-details-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.insurance-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
}

.insurance-card h3 {
    margin-bottom: 10px;
}

.insurance-card p {
    margin: 5px 0;
    font-size: 14px;
}

.our-promise .container .image-column img {
    min-height: 100% !important;
}
